@import "tailwindcss";

@theme {
  --color-primary: #0D47A1;
  --color-secondary: #4CAF50;
  --color-accent: #4DD0E1;
  --color-text: #212121;

  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;

  --image-gradient-main: linear-gradient(to bottom right, #FFFFFF, #E3F2FD);
}

@layer base {
  body {
    font-family: var(--font-sans);
    color: var(--color-text);
    background-image: var(--image-gradient-main);
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}